torch
transformers==4.39.3
numpy
pandas
tqdm
datasets==2.16.0
simpletransformers
huggingface_hub
accelerate==0.26.1
peft==0.4.0
bitsandbytes==0.40.2
trl==0.4.7
scikit-learn
fire
sentencepiece
tokenizers>=0.13.3
wandb
deepspeed
partial
gradio
rouge_score
openai
einops
packaging
ninja
tabula-py
bitsandbytes